body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    width: 100%;
    max-height: 300px;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/aarinformatica/imagensclipados.io/refs/heads/main/fundoclipados.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    bottom: -90px;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left .5s;
    padding: 16px;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    height: 100%;
    width: 60px; /* Largura inicial apenas para ícones */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(52, 58, 64, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0 15px 15px 0;
    border-bottom-right-radius: 15px;
    white-space: nowrap; /* Impede quebra de linha */
}

.sidebar.expanded {
    width: 250px; /* Largura expandida */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #adb5bd;
    display: flex;
    align-items: center;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s, width 0.5s; /* Transição suave */
}

.sidebar a i {
    margin-right: 10px;
    transition: color 0.3s;
    min-width: 30px; /* Tamanho mínimo para os ícones */
    text-align: center;
}

.sidebar a span {
    display: none; /* Inicialmente esconde o texto */
    margin-left: 10px; /* Espaço entre ícone e texto */
}

.sidebar.expanded a span {
    display: inline; /* Mostra o texto quando expandido */
}

.sidebar a:hover {
    color: #1E90FF;
    font-weight: bold;
    background-color: #8A2BE2;
}

.sidebar a:hover i {
    color: yellow;
    animation: vibrate 0.2s linear infinite;
}

.menu-toggle-btn {
    font-size: 15px;
    cursor: pointer;
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 28px; /* Ajusta a posição do botão para metade fora da sidebar */
    transform: translateX(50%);
}

.menu-toggle-btn:hover {
    background-color: #4B0082;
}

.close-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #ff8080;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}

.carousel {
    width: 80%;
    max-width: 800px;
    margin: 70px auto 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
}

.carousel.show {
    display: block;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 400px;
    border-radius: 10px;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
    box-sizing: border-box;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsividade para todos os tamanhos de tela */
@media (max-width: 1024px) {
    .header-logo {
        bottom: -70px;
        max-width: 120px;
    }

    .carousel img {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        max-height: 200px;
    }

    .header-logo {
        bottom: -50px;
        max-width: 100px;
    }

    .carousel {
        width: 90%;
        max-width: 100%;
    }

    .sidebar {
        height: 100%;
        width: 60px;
        border-radius: 0;
        padding-top: 20px;
        overflow-x: hidden;
    }

    .menu-toggle-btn {
        position: absolute;
        top: 20px;
        right: -30px;
        transform: translateX(50%);
    }

    .carousel img {
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .header {
        height: auto;
        max-height: 150px;
    }

    .header-logo {
        bottom: -30px;
        max-width: 80px;
    }

    .carousel img {
        max-height: 150px;
    }

    .sidebar a {
        font-size: 14px;
        padding: 8px;
    }
}

.card {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color: #1c1c1c; /* Cor de fundo estática */
    color: #fff;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    border: 3px solid transparent; /* Borda inicial transparente */
    background-clip: padding-box; /* Para as bordas animadas */
}

.card:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(45deg, #ff0000, #ff6f00, #ffd500, #00ff00, #00ffff, #0066ff, #ff00ff, #ff0000);
    background-size: 300%;
    z-index: -1;
    border-radius: inherit;
    animation: animateBorder 10s linear infinite;
}

@keyframes animateBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card p {
    position: relative;
    z-index: 1;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.social-icons a {
    position: relative;
    margin: 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.social-icons a:before {
    content: attr(data-title);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.social-icons a:hover {
    transform: translateY(-10px);
}

.social-icons a:hover:before {
    opacity: 1;
}

.social-icons a.pix {
    background-color: #4caf50; /* Cor para Pix */
}

.social-icons a.instagram {
    background-color: #e4405f; /* Cor para Instagram */
}

.social-icons a.tiktok {
    background-color: #010101; /* Cor para Tiktok */
}

.social-icons a.youtube {
    background-color: #ff0000; /* Cor para YouTube */
}

.social-icons a.twitch {
    background-color: #6441a5; /* Cor para Twitch */
}

.social-icons a.discord {
    background-color: #7289da; /* Cor para Discord */
}

/* Responsividade para todos os tamanhos de tela */
@media (max-width: 1024px) {
    .header-logo {
        bottom: -70px;
        max-width: 120px;
    }

    .carousel img {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        max-height: 200px;
    }

    .header-logo {
        bottom: -50px;
        max-width: 100px;
    }

    .carousel {
        width: 90%;
        max-width: 100%;
    }

    .sidebar {
        height: 100%;
        width: 60px;
        border-radius: 0;
        padding-top: 20px;
        overflow-x: hidden;
    }

    .menu-toggle-btn {
        position: absolute;
        top: 20px;
        right: -30px;
        transform: translateX(50%);
    }

    .carousel img {
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .header {
        height: auto;
        max-height: 150px;
    }

    .header-logo {
        bottom: -30px;
        max-width: 80px;
    }

    .carousel img {
        max-height: 150px;
    }

    .sidebar a {
        font-size: 14px;
        padding: 8px;
    }

    .social-icons {
        flex-direction: column; /* Ajusta a direção dos ícones sociais em telas menores */
    }

    .social-icons a {
        width: 50px;
        height: 50px;
        margin: 5px 0;
        font-size: 24px;
    }
}

.social-icons a:before {
    content: attr(data-title);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.social-icons a:hover {
    transform: translateY(-10px);
}

.social-icons a:hover:before {
    opacity: 1;
}

.social-icons a.pix {
    background-color: #4caf50; /* Cor para Pix */
}

.social-icons a.instagram {
    background-color: #e4405f; /* Cor para Instagram */
}

.social-icons a.tiktok {
    background-color: #010101; /* Cor para Tiktok */
}

.social-icons a.youtube {
    background-color: #ff0000; /* Cor para YouTube */
}

.social-icons a.twitch {
    background-color: #6441a5; /* Cor para Twitch */
}

.social-icons a.discord {
    background-color: #7289da; /* Cor para Discord */
}

/* Responsividade para todos os tamanhos de tela */
@media (max-width: 1024px) {
    .header-logo {
        bottom: -70px;
        max-width: 120px;
    }

    .carousel img {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    .header {
        height: auto;
        max-height: 200px;
    }

    .header-logo {
        bottom: -50px;
        max-width: 100px;
    }

    .carousel {
        width: 90%;
        max-width: 100%;
    }

    .sidebar {
        height: 100%;
        width: 60px;
        border-radius: 0;
        padding-top: 20px;
        overflow-x: hidden;
    }

    .menu-toggle-btn {
        position: absolute;
        top: 20px;
        right: -30px;
        transform: translateX(50%);
    }

    .carousel img {
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .header {
        height: auto;
        max-height: 150px;
    }

    .header-logo {
        bottom: -30px;
        max-width: 80px;
    }

    .carousel img {
        max-height: 150px;
    }

    .sidebar a {
        font-size: 14px;
        padding: 8px;
    }

    .social-icons {
        flex-direction: column; /* Ajusta a direção dos ícones sociais em telas menores */
    }

    .social-icons a {
        width: 50px;
        height: 50px;
        margin: 5px 0;
        font-size: 24px;
    }
}
/*sobre*/
  @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

   .shape-box {
        display: inline-block;
        position: relative;
        z-index: 1;
        max-width: 500px;
        height: 300px;
        margin: 30px 10px 30px;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .12);
        overflow: hidden;
        width: 50%;
    }

    .shape-box_half {
        overflow: hidden;
        text-align: left;
    }

    .shape-box_half:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: skewY(53.5deg);
        transform-origin: top left;
        transition: \transform .4s;
        background: #fff;
        z-index: 1;
    }

    .shape-box>img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .bg-black {
        background-color: #000;
    }

    .shape-box_half figcaption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 30px 30px;
        transition: \transform .4s;
        transform: translateY(100%);
        z-index: 3;
    }

    .shape-box_half figcaption .show-cont {
        position: absolute;
        bottom: calc(100% + 30px);
        left: 30px;
        right: 30px;
        transition: bottom .4s;
    }

    .card-no {
        font-size: 36px;
        color: #ffc107;
        padding: 0;
        margin: 10px 0;
    }

    .card-main-title {
        margin-top: 8px;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #292b2c;
    }

    .card-content {
        color: #9f9f9f;
        margin-top: 20px;
        line-height: 22px;
        font-size: 15px;
    }

    .read-more-btn {
        border: 2px solid #db3236;
        font-size: 14px;
        cursor: pointer;
        padding: 10px 20px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .08em;
        font-weight: 600;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        background: #db3236;
        color: #fff;
        border-radius: 2px;
        margin-top: 25px;
        text-decoration: none;
    }

    .read-more-btn:hover {
        background: transparent;
        color: #db3236;

    }

    .shape-box_half>.after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fdd744;
        opacity: 0;
        transition: opacity .4s;
    }

    /*On hover*/
    .shape-box_half:hover:before {
        transform: skewY(20deg);
    }

    .shape-box_half:hover figcaption {
        transform: translateY(0);
    }

    .shape-box_half:hover figcaption .show-cont {
        bottom: 100%;
    }

    .shape-box_half:hover>.after {
        opacity: 1;
    }

/*card setup*/
.myCard {
  background-color: transparent;
  width: 450px;
  height: 450px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
/*flipcard parceiros*/
.flip-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 128, 128, 0.5), 0 0 20px rgba(0, 128, 128, 0.5); /* Efeito de Neon mais discreto */
    border-radius: 10px; /* Bordas arredondadas */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px rgba(0, 128, 128, 0.7), 0 0 30px rgba(0, 128, 128, 0.7); /* Aumentar o efeito de Neon ao passar o mouse */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A2BE2;
}

.flip-card-front img {
    width: 100%;
    height: auto; /* Ajuste automático para manter a proporção */
    max-height: 100%; /* Máxima altura permitida */
    object-fit: contain; /* Ajuste da imagem ao conteúdo */
    border-radius: 10px;
}

/* Estilo para Dipshop */
.flip-card-dipshop .flip-card-back {
    background-color: #F0F8FF;
    color: #1c1c1c;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-size: contain;
    border: 2px solid #e2d1c3;
}

.flip-card-dipshop .flip-card-back p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

/* Estilo para Molix */
.flip-card-molix .flip-card-back {
    background-color: #F0FFFF;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-size: contain;
    border: 2px solid #fda085;
}

.flip-card-molix .flip-card-back p {
    margin: 10px 0;
    font-family: 'Caveat', cursive;
    font-size: 1.2em;
}
/*rodapé fixo*/

.main {
  position: relative;
  padding-bottom: 100px; /* altura do rodapé */
}


.footer {
    background-color: #f0f0f0; /* Cor escura para o rodapé */
    color: black;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Efeito de sombreamento */
    width: 100%;
  align-self: flex-end; /* Alinhar ao fundo da página */

}
/*efeito bem vindo*/
@keyframes randomFall {
    0% {
        opacity: 0;
        transform: translateY(-100vh) translateX(calc(-50vw + 50%));
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes colorChange {
    0% {
        color: #4B0082;
    }
    25% {
        color: #8A2BE2;
    }
    50% {
        color: #BA55D3;
    }
    75% {
        color: #FF69B4;
    }
    100% {
        color: #4B0082;
    }
}

.random-fall-text {
    display: inline-block;
    opacity: 0;
    animation: randomFall 1.5s forwards, pulse 1s infinite 1.5s, colorChange 4s infinite 1.5s; /* Animações de queda, pulsar e mudança de cor */
    font-family: 'Press Start 2P', cursive; /* Fonte de videogame */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Efeito de sombra elegante */
  font-size: 20px;
}

.random-fall-text:nth-child(1) { animation-delay: 0s, 1.5s, 1.5s; }
.random-fall-text:nth-child(2) { animation-delay: 0.1s, 1.6s, 1.6s; }
.random-fall-text:nth-child(3) { animation-delay: 0.2s, 1.7s, 1.7s; }
.random-fall-text:nth-child(4) { animation-delay: 0.3s, 1.8s, 1.8s; }
.random-fall-text:nth-child(5) { animation-delay: 0.4s, 1.9s, 1.9s; }
.random-fall-text:nth-child(6) { animation-delay: 0.5s, 2.0s, 2.0s; }
.random-fall-text:nth-child(7) { animation-delay: 0.6s, 2.1s, 2.1s; }
.random-fall-text:nth-child(8) { animation-delay: 0.7s, 2.2s, 2.2s; }
.random-fall-text:nth-child(9) { animation-delay: 0.8s, 2.3s, 2.3s; }
